@{
    ViewData["Title"] = "About Me!";
    ViewData["BodyClass"] = "about-me-background";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<!-- card -->
<div class="col-md-6 mb-4">
    <div class="custom-card">
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img src="/images/AidenImage.jpg" class="card-img-top" alt="Image of Aiden Wolff" />
            </div>
            <div class="col-md-7">
                <h1 class="text-black text-center">Aiden Wolff</h1>
                <p class="text-black text-center about-font">
                    Hello, I’m Aiden Wolff!
                    I've been writing, animating, and illustrating my own stories (often inspired by the media I love) since I was 13 years old.
                    Over the years, I've explored a wide range of creative projects including storyboarding, animatic storytelling, book writing, comic design, character design, voice acting, and more!
                    If you're interested in collaborating or just want to chat about creative work, feel free to get in touch!
                </p>
                <h3 class="text-black text-center">Here's my email address: theuniversebookstudio@gmail.com</h3>
            </div>
        </div>
    </div>
</div>

