@{
    ViewData["Title"] = "Fanart!!!";
    ViewData["BodyClass"] = "about-me-background";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<section>
<div class="row align-items-center">
    <!-- Text Column -->
    <div class="text-center">
        <p>
            Here’s something I’m most proud of, my community. 
            It’s a true honor to have people not only support my projects and give their time, 
            but also create fan art! That means more to me than anything.
            I still remember hitting 1,000 subscribers live on YouTube with everyone watching. 
            It blows me away that anyone supports my content, enjoys my characters, and even makes art inspired by them.
            From the bottom of my soul—thank you.
        </p>
    </div>
</div>
</section>
<!-- Grid view starts here -->
<section>
<div class="row mt-4">
    <div class="col-md-6 mb-4">
        <div class="h-100">
            <img src="/images/FakeFan.png" class="card-img-top" alt="Grid Image 1">
            <div class="card-body">
                <h5 class="card-title">Example of Aiden's fanart</h5>
                <p class="card-text">This is made by fans.</p>
            </div>
        </div>
    </div>
</div>
</section>
