@{
    ViewData["BodyClass"] = "Grounded-background";
}

<div class="row align-items-center">
    <div class="col-md-5 text-center">
        <img src="/images/Grounded.png" class="img-fluid The-Packs-img" alt="The Packs Graphic Novel" />
    </div>
    <div class="col-md-7 text-white">
        <h1>What is...</h1>
        <h3 class="text-white">
            GROUNDED: An object show inspired by Jacknjellify's Battle for Dream Island,
            where 12 contestants are stranded on a desolate planet and battle for its resources with each character having their own intentions,
            some good, and some not so good ranging from providing medical care to attempting complete planetary takeover!
        </h3>
        <h3>With integrated viewer voting, 
            YOU get to side with your favourite character and vote for whos morals you side with the most! 
            --- you evil monster!</h3>
        <div class="col-md-10 text-center">
            <a href="https://www.youtube.com/playlist?list=PLBxiMbtQep3w9jBCentm3-ZAAnJiCI3OK" target="_blank" rel="noopener" class="d-inline-blockl">
                <img src="/images/GroundedThumbnails.png" class="img-fluid The-Grounded-Thumbnail" alt="Grounded Thumbnails" style="cursor:pointer;" />
            </a>
        </div>
    </div>   
</div>
