@{
    ViewData["BodyClass"] = "The-Packs-background";
}


<div class="row align-items-center">
    <!-- Text Column -->
    <div class="col-md-7 text-white move-up-please">
        <h1>What is...</h1>
        <h3 class="text-white">
            THE PACKS is an original story written and produced by Aidyn Wolff. 
            It began as an animatic on YouTube and found its four paws as a comic dub. 
            The Packs is a character-driven, dark comedy adventure series following two different, interwoven stories.
        </h3>
        <h3>
            On one paw, follow Aidyn and Amanda as they take on delivery jobs for their leader, Notawolff, 
            while juggling the crushing responsibility of raising an adopted kitten.
        </h3>
        <h3>
            On the other paw, follow Frostpetal, who—after losing her cat cluster—joins a small group of loners
            on a journey to find a new home using an abandoned map.
        </h3>
    </div>
    <!-- Image Column -->
    <div class="col-md-5 text-center">
        <img src="/images/ThePacks.png" class="img-fluid The-Packs-img" alt="The Packs Graphic Novel" />
    </div>
    <div class="col-md-5 text-center">
        <a href="https://www.youtube.com/playlist?list=PLBxiMbtQep3yMj8VjBA5K9VlvEJFPBl3t" target="_blank" rel="noopener" class="d-inline-block">
            <img src="/images/PacksThumbnails.png" class="img-fluid The-Packs-Thumbnail" alt="The Packs Thumbnails" style="cursor:pointer;" />
        </a>
    </div>

</div>

